#main {
    width: 300px
}

#card-container {
    width: 80%;
    height: auto;
    white-space: normal;
    padding: 0;
    margin-left: 10%;
    margin-top: 10%;
}

#card-container ul {
    padding: 0;
}

.toggle-buttons-container {
    display: flex;
    flex-direction: row;
    margin-top: 12%;
    /* margin-left: 150px; */
    word-spacing: 4rem;
    gap: 20px;
    width: 100%;
    position: sticky;
    top: 10%;
    background-color: white;
    height: 5rem;
    align-items: center;
    border-bottom: 1px solid gray;
    /* z-index: -1 */
}

@media screen and (max-width: 999px) {
    .toggle-buttons-container {
        margin-top:10px
    }

    #card-container {
        margin-top: 20%
    }

    .navigation-bar {
        height: 5%
    }

    .event-container {
        padding-top: 10%
    }

    #form-container-div {
        align-items: center;
        justify-content: center;
        display: flex;
        height: 50vh;
        width: 50vw;
    }
    }


.toggle-buttons {
    position: relative;
    left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.groups-button {
    border: none;
    font-size: 25px;
    background-color: white;
    color: Gray
}

.groups-button:hover {
    color: Teal;

}

.events-button {
    border: none;
    font-size: 25px;
    background-color: white;
    color: Gray
}

.events-button:hover {
    color: Teal;
}
