#main {
    width: 300px
}

#card-container {
    width: 46%;
    height: auto;
    white-space: normal;
    padding: 0;
    margin-left: 10%;
    margin-top: 10%;
}

#card-container ul {
    padding: 0;
}

#toggle-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    /* margin-left: 150px; */
    word-spacing: 4rem;
    gap: 20px;
    width: 100%;
    position: sticky;
    top: 6%;
    background-color: white;
    height: 5rem;
    align-items: center;
}
