#splash-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#event-carousel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#event-carousel:hover {
    transition: 0.5s;
    background-color: gray;
}

.splash-container {
    width: 100vw;
    background-image: url('https://cdn.wallpapersafari.com/58/66/4exNis.jpg');
    background-size: cover;
    padding-top: 15vh;
}

#splash-title-and-picture {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 39%;
    gap: 5%;
}

#splash-title-and-picture a {
    text-decoration-line: none;
    color: teal
}

#splash-title-and-picture img {
    mix-blend-mode: multiply;
}

#splash-title-and-picture a:hover {
    font-weight: 700;
    text-decoration-line: underline;
}
