body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.group-component-card {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 10%;
    width: 100%;
    background-color: white;
    color: black;
    border-top: 1px solid;
    text-decoration: none;
    padding: 4% 0 3% 0;
    gap: 0%;
}

.group-component-card-image {
    display: flex;
    flex-direction: row;
    width: 30%;
    padding-right: 5%
}

.group-component-card-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 70%;

}

.card-image {
    width: 100%;
    height: 100%;
    border-radius: 10%
}


.location{
    color: tan;
}
