/* todo */

#modal-content {
    background-color: white;
    height: 77%;
    width: 35%;
    border-radius: 30px;
    height: 100vh;
}

#log-in {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 0;
}

.input-fields {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 98%;
}

#username-pass-input-field {
    width: 96%;
    height: 39px;
}

#username-label {
    position: relative;
    bottom: 56px;
    right: 67px;
}

#password-label {
    position: relative;
    bottom: -9px;
    right: 97px;
}

.login-button-container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 98px;
    gap: 25px;
}

#form-container {
    display: flex;
    flex-direction: column;
    /* justify-content: unset; */
    gap: 27px;
    width: 76%;
    height: auto;
    margin-bottom: 10%;
}

.login-signup-button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button-design {
    background-color: #ff0000ba;
    color: white;
    border-radius: 5px;
    height: 39px;
    font-size: 14px;
    font-weight: 700;
    border: none;
    padding: 10px
}

.button-design:hover {
    color: teal;
}

#sign-up-form-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    gap: 8px;
    margin-bottom: 25px;
}

.sign-up-input-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#modal {
    z-index: 1000
}
